.ServiceWizardStepper {
  width: 100%;
}

.ServiceWizardStepper-MobileStepperWrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 12px;
}

.ServiceWizardStepper-NavSlot {
  width: 36px;
  height: 36px;
}

.ServiceWizardStepper-MobileStepperContent {
  flex: 1;
}
.MobileStepperWrapper {
  gap: 12px;
}

.ServiceWizardStepper .MuiStep-root:first-child,
.ServiceWizardStepper .MuiStep-root:last-child {
  flex: 0.5;
}

.ServiceWizardStepper.MuiStepper-vertical .MuiStep-root {
  margin-bottom: 10px;
}

.ServiceWizardStepper-horizontal .MuiStep-root:first-child .MuiStepLabel-root {
  align-items: flex-start;
}

.ServiceWizardStepper .MuiStep-root:first-child .MuiStepLabel-alternativeLabel {
  text-align: left;
}

.ServiceWizardStepper-horizontal .MuiStep-root:last-child .MuiStepLabel-root {
  align-items: flex-end;
}

.ServiceWizardStepper .MuiStep-root:last-child .MuiStepLabel-alternativeLabel {
  text-align: right;
}

.ServiceWizardStepper .MuiStep-root:last-child .MuiStepConnector-root {
  left: calc(-100% + 28px);
  right: 36px;
}

.ServiceWizardStepper .MuiStep-root:nth-child(2) .MuiStepConnector-root {
  left: calc(-50% + 28px);
}

.ServiceWizardStepper.MuiStepper-horizontal .MuiStepConnector-line {
  border-top-width: 2px;
  border-radius: 99px;
}

.ServiceWizardStepper.MuiStepper-vertical .MuiStepConnector-line {
  display: none;
}

.MuiStepButton-root .MuiStepLabel-root {
  width: 100%;
}
